	<nav class="navbar navbar-expand-xl">
	<div class="container-fluid px-3 px-xl-5">
		<!-- Logo START -->
		<a class="navbar-brand" href="/">
			<span class="h4 fw-light ls-1"><span class="text-primary fw-bold h1 display-7">{{ first_word }}</span> {{ second_word }} </span>
		</a>
		<!-- Logo END -->

		<!-- Responsive navbar toggler -->
		<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-animation">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</button>

		<!-- Main navbar START -->
		<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

			<!-- Nav Main menu START -->
			<ul class="navbar-nav navbar-nav-scroll ms-auto">
				<!-- Nav item 1 Demos -->
				<li class="nav-item ">
					<a class="nav-link" href="#">Home</a>
				</li>

				<!-- Nav item 2 Pages -->
				<li class="nav-item">
					<a class="nav-link" href="#gallery">Gallery</a>
				</li>

				<!-- Nav item 4 Megamenu-->
				<li class="nav-item">
					<a class="nav-link" href="#about">About</a>
				</li>
				<!-- Nav item 4 Megamenu-->
				<li class="nav-item">
					<a class="nav-link" href="#vendors">Vendors</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" data-paperform-id="alakanuk-registration-form" data-popup-button="1">Register</a>
				</li>
			</ul>
			<!-- Nav Main menu END -->
		</div>
		<!-- Main navbar END -->
	</div>
</nav>